body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
	margin: 0 !important;
	padding: 0;
	scroll-behavior: smooth;
	//background-color: #E3E3E3;
	
}
.container {
  width: 100%;
  height: fit-content;
  padding: 0 5%;
	overflow: hidden;
	box-sizing: border-box;

  &::selection {
    background: none;
  }
}
// //=============================
// //  [colors]
// //=============================

$color-red: #C60021;
$color-pebble: #45433E;
$color-purple1: #44318D;
$color-purple2: #2a1b3d;
$color-gray: #E3E3E3;

// //=============================
// //  [fonts]
// //=============================

$bold: 600;
$semibold: 800;
$normal: 400;
$light: 300;

//=============================
//  [Links]
//=============================

a {
font-weight: 800;
  text-decoration: none;
	outline: 0;
	text-transform: uppercase;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}
a:hover {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: red;
  }
}

//=============================
//  [Headers]
//=============================

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  margin: 0;
  font-weight: 100;
  width: 100%;
  line-height: 1.1;
  color: white;
	transition: color 300ms ease;
	font-weight: $bold;
	text-transform: uppercase;
}

h1 {
  font-size: 68px;

  @media screen and (max-width: $screen-sm) {
    font-size: 58px;
  }
}

h2 {
  font-size: 60px;

  @media screen and (max-width: $screen-sm) {
    font-size: 52px;
  }
}

h3 {
  font-size: 28px;

  @media screen and (max-width: $screen-sm) {
    font-size: 34px;
  }
}

h4 {
  font-size: 18px;

  @media screen and (max-width: $screen-sm) {
    font-size: 24px;
  }
}

h5 {
  text-transform: uppercase;
}

h6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (min-width: $screen-sm) {
}

@media screen and (min-width: $screen-md) {
}

@media screen and (min-width: $screen-lg) {
}

//=============================
//  [Paragraph]
//=============================
p {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 20px;
  line-height: 26px;
	margin: 0;
	font-weight: $normal;
}

@media screen and (min-width: $screen-sm) {
  p {
  }
}

@media screen and (min-width: $screen-md) {
  p {
  }
}

@media screen and (min-width: $screen-lg) {
  p {
  }
}

//=============================
//  [Strong]
//=============================
strong {
  font-family: 'Montserrat-semibold', sans-serif;
  font-weight: 100;
}

@media screen and (min-width: $screen-sm) {
  strong {
  }
}

@media screen and (min-width: $screen-md) {
  strong {
  }
}

@media screen and (min-width: $screen-lg) {
  strong {
  }
}

//=============================
//  [Blockquote]
//=============================
blockquote {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: $screen-sm) {
  blockquote {
    font-size: 15px;
  }
}

@media screen and (min-width: $screen-md) {
  blockquote {
    font-size: 17px;
  }
}

@media screen and (min-width: $screen-lg) {
  blockquote {
    font-size: 20px;
  }
}

//=============================
//  [Lists]
//=============================

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  line-height: 26px;
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  padding: 0;
	list-style: none;
	font-weight: $normal;
}

.list li {
  //background-image: url('/assets/images/svg/list-marker.svg');
  background-repeat: no-repeat;
  background-position: left 6px;
  padding-left: 36px;
  margin-bottom: 5px;
}

@media screen and (min-width: $screen-sm) {
  .list li {
    //background-position: left 3px;
    font-size: 14px;
  }
}

